<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>
    <meta name="description" content={{page.desc}}>


    <!-- CHANGE md-ghpages TO YOUR REPO NAME-->
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
 
</head>
<body>

    <h1 class="example-class">九州工業大学 田中和明 研究室</h1>

    <a href="/">トップページ</a> | 
    <a href="/research.html">研究内容</a> |
<!--
    <br>
    <a href="https://my12parsecs.github.io/md-ghpages">Home Page</a>
    <a href="https://my12parsecs.github.io/md-ghpages/subpage">Sub Page</a>
-->
    <hr>
    <div>
        {{content}}
    </div>

</body>
</html>